
.info {
    background: url('/money/resources/img/I_24.png') no-repeat;
    height:24px !important;
    width:24px !important;
    margin-top: -4px !important;
}

.gearAdd{
    background-image: url('/money/resources/img/edit_add.png') !important;
}

