/*
    Document   : global
    Created on : 07/03/2010, 19:58:32
    Author     : Guilherme
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{
    font-size: xx-small;
}

root {
    display: block;
}

a{
    color: inactiveborder;
}

.center{
    text-align: center;
}

.ui-growl {
right:20px;
top: 10px;
}

form{
    font-size: xx-small;
}
table{
    font-size: xx-small;
}

.wijmo-wijmenu, .wijmo-wijmenu-list, .wijmo-wijmenu-item, .wijmo-wijmenu-link, .wijmo-wijmenu-text{
    background-color: transparent !important; 
    background-repeat: no-repeat !important;
    border: none !important;
}

.red {
    color: red;
}

.green{
    color: #006600;
}