.cadastroIco {
    background: url("#{resource['images:folders_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
    
}

.cadastroUserIco {
    background: url("#{resource['images:user_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
    
}

.pessoalIco {
    background: url("#{resource['images:settings_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
    
}

.pessoalPassIco {
    background: url("#{resource['images:key_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.sairIco {
    background: url("#{resource['images:door_out_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.ajudaIco {
    background: url("#{resource['images:help_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.addIco {
    background: url("#{resource['images:book_add_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.addUserIco {
    background: url("#{resource['images:user_add_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.pessoalIcon {
    background: url("#{resource['images:folder_user_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.pessoalPasswordIco {
    background: url("#{resource['images:lock_edit_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}
