
.bodyCor{
    background-color: aqua;
}
#login-box {
    width:493px;
    height: 410px;
    padding: 58px 76px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
    background: url("#{resource['images:login-box-backg.png']}") no-repeat left top;
}

#login-box img {
    border:none;
}

.headerLogin{
    width:350px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #ebebeb;
    padding-bottom: 30px;
    text-align: left;
}

#login-box h2 {
    padding:0;
    margin:0;
    color: #ebebeb;
    font: bold 44px "Calibri", Arial;
}


.login-box-name {
    float: left;
    width:80px;
    text-align: right;
    color: #ebebeb;
}

#j_username #j_password {
    float: left;
    width:230px;
    margin:0;
    margin:0 0 7px 0;
}


.form-login  {
    width: 205px;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color:#CCD6F5;
    font-size: 16px;
    color: #7D0000;
}


.login-box-options  {
    clear:both;
    padding-left:87px;
    font-size: 11px;
}

.login-box-options a {
    color: #ebebeb;
    font-size: 11px;
}

.pagging { height:20px; padding:8px 10px; line-height:19px; color:#949494; margin-bottom: 110px;}
.pagging a{ background:url("#{resource['images:pagging_login.gif']}") repeat-x 0 0; height:20px; float:left; padding:0 8px; border:solid 1px #d5d5d5; text-decoration: none; color:#949494; margin-left: 5px; }
.pagging a:hover { border-color:#1484e6; background:#b6d5ff; color:#333; }
.pagging span{ float:left; margin-left:5px; padding-top:2px; }