/*======= index-1.html =======*/
#page2 #content .col-1 {width:251px; margin-right:17px;}
#page2 #content .col-2 { width:223px;}

/*======= index-4.html =======*/
#page5 #content .col-1 {width:231px; margin-right:37px;}
#page5 #content .col-2 { width:223px;}


/*=========================*/


