
.info {
    background: url('/money/resources/img/I_24.png') no-repeat;
    height:24px !important;
    width:24px !important;
    margin-top: -4px !important;
}

.conta {
    background: url('/money/resources/img/conta_16.png') no-repeat;
    height:24px !important;
    width:21px !important;
    margin-left: 3px !important;
}

.pagar {
    background: url('/money/resources/img/c_saida_16.png') no-repeat;
    height:24px !important;
    width:21px !important;
    margin-left: 3px !important;
}

.receitaDividaIco {
    background: url('/money/resources/img/money_rg_16.png') no-repeat;
    height:24px !important;
    width:24px !important;
    margin-left: 3px !important;
}

.movimentacaoIco {
    background: url('/money/resources/img/money_blu_16.png') no-repeat;
    height:24px !important;
    width:24px !important;
    margin-left: 3px !important;
}

.receita {
    background: url('/money/resources/img/c_entrada_16.png') no-repeat;
    height:24px !important;
    width:21px !important;
    margin-left: 3px !important;
}

.transferencia {
    background: url('/money/resources/img/trans_16.png') no-repeat;
    height:24px !important;
    width:21px !important;
    margin-left: 3px !important;
}

.scheduler{
    background: url('/money/resources/img/time_16.png') no-repeat;
    height:24px !important;
    width:21px !important;
    margin-left: 3px !important;
}

.block{
    background-image: url('/money/resources/img/uncheck_24.png') !important;
}

.desblock{
    background-image: url('/money/resources/img/check_24.png') !important;
}