/*
    Document   : global
    Created on : 07/03/2010, 19:58:32
    Author     : Guilherme
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

*{
    font-size: x-small;
    color: black;
}
.ui-paginator-rpp-options{
    color: black;
}
root {
    display: block;
}

.titleCentralLocal{
    color: cadetblue;
}

.nomeLogado{
    font-family: Geoogia, 'Times New Roman', times, serif;
    color:#e78f08;
    font-size: medium;
}

a{
    color: inactiveborder;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.ui-growl {
left: 50%;
top: 10px;
}

.ui-menu {
    /*background-color: transparent !important; 
    background-repeat: no-repeat !important;
    border: none !important;*/
    width: 340px;
    
}

.menuComprimento{
     width: 100% !important;
     position: relative !important;
}

.ui-layout-north {  
    z-index:20 !important;  
    overflow:visible;  
}  
  
.ui-layout-north .ui-layout-unit-content {  
    overflow:visible;  
}  
.red {
    color: red;
}

.green{
    color: #008200;
}

.fonteLogin{
    color: black;
}