/*
    Document   : global
    Created on : 07/03/2010, 19:58:32
    Author     : Guilherme
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

*{
    font-size: x-small;
}

root {
    display: block;
}

.nomeLogado{
    font-family: Geoogia, 'Times New Roman', times, serif;
    color:#e78f08;
    font-size: medium;
}

a{
    color: inactiveborder;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.ui-growl {
right:20px;
top: 10px;
}

.wijmo-wijmenu, .wijmo-wijmenu-list, .wijmo-wijmenu-item, .wijmo-wijmenu-text{

}

.red {
    color: red;
}

.green{
    color: #006600;
}
