/*
    Document   : global
    Created on : 07/03/2010, 19:58:32
    Author     : Guilherme
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

*{
    font-size: small;
    color: white;
}
.ui-paginator-rpp-options{
    color: black;
}
root {
    display: block;
}

.titleCentralLocal{
    color: #6ce26c;
}

.nomeLogado{
    font-family: Geoogia, 'Times New Roman', times, serif;
    color:#e78f08;
    font-size: medium;
}

a{
    color: inactiveborder;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.ui-growl {
right:20px;
top: 10px;
}

.ui-menu{
    background-color: transparent !important; 
    background-repeat: no-repeat !important;
    border: none !important;
    width: 180px !important;
}

.red {
    color: red;
}

.green{
    color: #6ce26c;
}

.fonteLogin{
    color: black;
}