.sairIco {
    background: url("#{resource['images:door_out_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.ajudaIco {
    background: url("#{resource['images:help_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.addIco {
    background: url("#{resource['images:crud_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}
.adminIco{
    background: url("#{resource['images:star_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.addUserIco {
    background: url("#{resource['images:user_add_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.addCartaoIco {
    background: url("#{resource['images:cc_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.addDetIco {
    background: url("#{resource['images:detalhe_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.addAgendaIco {
    background: url("#{resource['images:date_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}
.contasIco{
    background: url("#{resource['images:conta_gr.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.addDisponivelIco{
    background: url("#{resource['images:logo_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;    
}
.disponiveisIco{
    background: url("#{resource['images:conta_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;    
}
.receitaIco{
    background: url("#{resource['images:conta_green.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.despesaUnicaIco{
    background: url("#{resource['images:conta_orange.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}
.despesaParceladaIco{
    background: url("#{resource['images:conta_red.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}
.pessoalIcon {
    background: url("#{resource['images:pessoal_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.movimentacaoIco{
    background: url("#{resource['images:movi_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}
.movimentacaoCartaoIcon{
    background: url("#{resource['images:cc_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}
.movimentacaoFecharCartaoIcon{
    background: url("#{resource['images:cr_cartao_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}
.movimentacaoAbrirCartaoIcon{
    background: url("#{resource['images:cb_cartao_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.pessoalPasswordIco {
    background: url("#{resource['images:key_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}
.lupaIco {
    background: url("#{resource['images:lupa_13.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.onIcon{
    background: url("#{resource['images:tag_ok.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.offIcon{
    background: url("#{resource['images:tag_blq.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}
.transferenciaIcon{
    background: url("#{resource['images:gear_replace.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}
.pagarreceberIcon{
    background: url("#{resource['images:movimentacao_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}
.emailIcon{
    background: url("#{resource['images:email_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.schedulerIco{
    background: url("#{resource['images:scheduler_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.settingsIco {
    background: url("#{resource['images:settings.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.avisosIcon{
    background: url("#{resource['images:email_edit_16.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}

.historicoIcon{
    background: url("#{resource['images:file_starred_13.png']}") no-repeat !important;
    height:16px !important;
    width:16px !important;
}