body,div,td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    word-wrap: break-word;
}

body {
    background-color: #fff;
    text-align: left;
}

a img {
    border: 0 none;
    vertical-align: middle;
}

a {
    text-decoration: underline;
}

a:hover {
    color: #0066FF;
}

a:active {
    color: #B2D1FF;
}

a:visited {
    color: #B2D1FF;
}

.wrapper {
    width: 1024px;
    min-width: 1024px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto; /* fix max-width incompatibility in IE6 */
    width: expression(document.body.clientWidth > 1024 ? "1024px" : "auto");
    overflow: hidden;
    display: block;
}

.contentCentral{
    min-height: 300px;
    _height: auto !important;
    height: 300px;
}

.menu {
    vertical-align: top;
    text-align: center;
    margin-right: 5px;
}

.content {
    height: auto;
    vertical-align: top;
    text-align: left;
}

.banner {
    margin-bottom:5px;
}

.action-column {
    text-align: center;
    width: 120px !important;
}

.ui-selectmanymenu {
    width: 155px !important;
    height: 100px !important;
}

.dialog {
    width: auto;
}

.col1 {
    vertical-align: top;
    font-weight: bold;
}

.col2 {
    vertical-align: top;
}

.col3 {
    vertical-align: top;
}

.selectTableFilter{
    font-size: 0.7em;
    padding-left:19px;     /* Largura da imagem possui 20px */  
    padding-top:5px;       /* Só pra centralizar o texto verticalmente já que a altura da imagem é de 25px */  
    height:16px;           /* O padding influencia no tamanho do componente (é como se fosse 20px + 5px da altura) */  
    background-image:url("#{resource['images:lupa.png']}");  
    background-repeat:no-repeat; /* Para não repetir o background ao longo de topo o componente */
    background-color: white;
}

table.referencesmall td.red {
    color: red; 
} 
table.referencesmall td.green{
    color: #B2D1FF;
}
table.referencesmall { 
    background-color:#ffffff;
    border:1px solid #c3c3c3;
    border-collapse:collapse;
    width:95%;
    margin-top: 10px;
    margin-left: 10px;
}
table.referencesmall th { 
    background-color: #B2D1FF;
    border:1px solid #c3c3c3;
    border-radius: 5px;
    padding:3px;
    vertical-align:top; 
    font-size: 1em;
    color: #585b57;
    background: #B2D1FF url("#{resource['primefaces-redmond:images/ui-bg_gloss-wave_55_5c9ccc_500x100.png']}") 50% 50% repeat-x;
}
table.referencesmall td { 
    border:1px solid #c3c3c3;
    border-radius: 5px;
    padding:3px;
    vertical-align:top; 
    font-size: 0.9em;
} 

.formedit { background:#ffffff; padding:0px; 
            margin-bottom:10px; 
            margin-left: 5px;
            margin-top: 10px;
           _margin-bottom:30px; 
           border-color: #c3c3c3;
           border-width: 1px;
           border-style: solid;
           width: 98.5%; }
.formedit-head { 
                 height:32px; 
                 font-size: 1.0em; 
                 font-weight: bolder;
                 color: #ebebeb; 
                 padding: 0 10px; 
                 line-height:32px; white-space:nowrap; 
                 border: 1px solid #aaaaaa; 
                 background: #B2D1FF url("#{resource['primefaces-redmond:images/ui-bg_gloss-wave_55_5c9ccc_500x100.png']}") 50% 50% repeat-x;
                 color: #585b57;
                 font-weight: bold;
}
.formedit-head .right{ padding-top:5px; line-height:13px; }
.formedit-head .right label,
.formedit-head .right input { float:left; }
.formedit-head .right label { padding:4px 0 0 0;}
.formedit-head .right input { margin-left:5px;}
.formedit form {
    padding: 3px;
}

a.ico { color:#B2D1FF; font-size:1.0em; text-decoration: none; padding:0 0 0 14px; background-repeat:no-repeat; background-position:0 0; }
a.ico:hover { color:#333;}
a.del { background-image:url("#{resource['images:tag_del.png']}"); }
a.edit { background-image:url("#{resource['images:tag_edit.png']}");}
a.ativo { background-image:url("#{resource['images:tag_ok.png']}");}
a.desat { background-image:url("#{resource['images:tag_blq.png']}");}

.pagging { height:20px; padding:8px 10px; line-height:19px; color:#949494; }
.pagging a{ background:url("#{resource['images:pagging.gif']}") repeat-x 0 0; height:20px; float:left; padding:0 8px; border:solid 1px #d5d5d5; text-decoration: none; color:#949494; margin-left: 5px; }
.pagging a:hover { background: #B2D1FF url("#{resource['primefaces-redmond:images/ui-bg_gloss-wave_55_5c9ccc_500x100.png']}") 50% 50% repeat-x; color: #585b57; }
.pagging span{ float:left; margin-left:5px; padding-top:2px; }

.topstatus{
    position: absolute;
    top: 15px;
    left: 10px;
}

.ui-growl{
    left: 10px;
}

.menuSup{
    border: 1px solid #aaaaaa; 
    background: #B2D1FF url("#{resource['primefaces-redmond:images/ui-bg_gloss-wave_55_5c9ccc_500x100.png']}") 50% 50% repeat-x;
}