<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <!-- CONFIGURACAO DE SEGURANCA-->
    <!-- PAPEIS DISPONIVEIS-->
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>user</role-name>
    </security-role>
    
    <!-- MAPEAMENTO DOS PAPEIS -->
    <security-constraint>
        <display-name>Admin Constraints</display-name>
        <web-resource-collection>
            <web-resource-name>Administrators</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Usuario Constraints</display-name>
        <web-resource-collection>
            <web-resource-name>Usuario</web-resource-name>
            <description/>
            <url-pattern>/pages/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    
    <!-- PAGINA DE LOGIN -->
    <!-- solidaRealm deve ser defindo no container, GlassFish neste caso -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>moneyRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/login_error.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    
    <!-- Configuracao JSF -->	
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.enableMissingResourceLibraryDetection</param-name>
        <param-value>true</param-value>
    </context-param>   
    <context-param>
        <param-name>timezone</param-name>
        <param-value>GMT-3</param-value>
    </context-param>
    
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <context-param>  
        <param-name>primefaces.THEME</param-name>  
        <param-value>redmond</param-value>  
    </context-param>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
        <init-param>
            <param-name>thresholdSize</param-name>
            <param-value>10000000</param-value>
        </init-param>
    </filter>	
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>6Lf13cYSAAAAAGR_YoSolQHqUYATD2Vy0cpsCqIT</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>6Lf13cYSAAAAALV7eud_LVRQg5uSNgcJqRZXUTVo</param-value>
    </context-param>
        
    <error-page>
        <error-code>403</error-code>
        <location>/semPermissao.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/pagne.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.ejb.AccessLocalException</exception-type> 
        <location>/norole.xhtml</location>
    </error-page>
    <error-page>  
        <exception-type>com.sun.faces.context.FacesFileNotFoundException</exception-type>  
        <location>/pagne.xhtml</location>
    </error-page>
</web-app>
